language: go
sudo: false
dist: trusty
go:
- 1.x
git:
  depth: 10
addons:
  ssh_known_hosts:
  - $IP
  - github.com
install:
- wget https://github.com/gohugoio/hugo/releases/download/v0.54.0/hugo_0.54.0_Linux-64bit.tar.gz
- tar -xzvf hugo_0.54.0_Linux-64bit.tar.gz
- sudo apt-get install sshpass
script:
- "./hugo"
deploy:
  provider: script
  script: sh -x CI/deploy.sh
  skip_cleanup: true
  on:
    branch: master
